body {
    margin: 0;
}

section {
    background-color: white;
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
    margin: 10px auto;
}

/* 네비게이션 */
nav.member_info_nav {
    width: 25%;
    border-right: 1px solid #ddd;
    padding-right: 20px;
}
nav.member_info_nav ul {
    list-style: none;
    padding: 0;
}
nav.member_info_nav li {
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
}
nav.member_info_nav li span {
    margin-left: 15px;
}

/* container */
div.member_info_lock {
    width: 100%;
    /* border: 1px solid #ddd; */
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}
div.member_info_lock h3 {
    font-size: 25px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid violet;
}
div.member_info_lock .notice {
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notice p:nth-of-type(1) {
    font-size: 22px;
    line-height: 1.7;
    margin: 15px 0;
    text-align: center;
}
.notice p:nth-of-type(1) span {
    color: red;
}
.notice p:nth-of-type(2) {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #7c7c7c;
}

div.member_info_lock label {
    width: 150px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 18px;
}
div.member_info_lock input[type="text"],
div.member_info_lock input[type="password"] {
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
}

/* 버튼 */
.btnWrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
button {
    width: 330px;
    height: 55px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border: none;
    margin: 20px 0px;
}
.whiteBtn {
    background-color: white;
    color: violet;
    border: 1px solid violet;
}
.violetBtn {
    background-color: violet;
    color: white;
}
