.sign-up-form-wrapper .signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff;
    padding: 20px;
  }
  
   h1 {
    font-size: 34px;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
  }

  
  .signup-form {
    width: 100%;
    max-width: 500px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
  }
  
  .input-field {
    font-size: 16px;
    padding: 12px 15px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    transition: all 0.3s ease;
  }
  
  .input-field:focus {
    border-color: #4e8cdb;
    outline: none;
  }
  
  .input-field::placeholder {
    color: #aaa;
  }
  
  .input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .input-container input {
    flex-grow: 1;
    border-bottom: 2px solid #ccc;
  }
  
  .signup-container .input-container input:focus {
    border-color: #4e8cdb;
  }
  
  .input-container button {
    margin-left: 10px;
    padding: 8px 20px;
    background-color: #8E43E7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .input-container button:hover {
    background-color: #6A2DB4;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #8E43E7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .submit-btn:hover {
    background-color: #6A2DB4;
  }
  
  @media (max-width: 768px) {
    .signup-container {
      padding: 10px;
    }
  
    h1 {
      font-size: 30px;
      text-align: center;
    }
  
    .input-container input {
      font-size: 14px;
      padding: 10px 12px;
    }
  
    .input-container button {
      font-size: 16px;
      padding: 6px 12px;
    }
  
    .submit-btn {
      font-size: 20px;
      padding: 8px;
    }
  }
  