.ScrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: -1px;
    padding: 10px 15px;
    font-size: 3em;
    border: none;
    color: rgb(220, 220, 220);
    cursor: pointer;
    background-color: transparent;
}