.searchContainer {
    background-color: white;
    color: black;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    align-items: center;
    justify-content: center;
    display: flex;
}

.searchIdWrapper {
    max-width: 40rem;
    margin: 4rem auto;
    height: 486px;
    width: 400px;
}

.searchContainer h2 {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}

.searchHeader {
    height: auto;
    padding: 0;
    margin-bottom: 30px;
}

.searchTabWrapper {
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #e0e0e0;
    box-sizing: border-box;
    text-align: center;
}

.searchTabWrapper a {
    color: #666666;
    text-decoration: none;
    font-size: 15px;
}

.searchTab {
    width: 50%;
    height: 100%;
    display: block;
    text-align: center;
    position: relative;
}

.searchTab.active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
}

.searchTab.active a {
    color: black;
    font-weight: bold;
}

.searchContentWrapper {
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    height: 300px;
}

.searchContentWrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.searchContent {
    min-height: 65px;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: .1rem solid #f8f8f8;
}

.searchContentHeader {
    width: 100%;
    display: block;
}

.searchContentHeader label {
    align-items: center;
    display: flex;
}

.searchContent li {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.searchContentWrapper input{
    margin-right: 10px;
}

.searchContentInner {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: block;
}

.searchContentInner p {
    font-size: 13px;
    padding-bottom: 10px;
    color: #666;
    margin-left: 30px;
}

.inputStyle {
    position: relative;
    display: block;
    width: 100%;
    height: 3.8rem;
    margin-left: 30px;
}

.inputPwdStyle {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 30px;
    height: 3.8rem;
}

.inputPwdStyle input {
    width: 100%;
}

.searchContentInner input {
    display: block;
    width: 23rem;
    height: 50px;
    padding: 1.2rem 3rem 1.2rem 1.2rem;
    border: .1rem solid #ddd;
    border-radius: 0.7rem;
    background-color: #fff;
    font-size: 0.9rem;
}

.searchPwdContent input {
    display: block;
    height: 50px;
    padding: 1.2rem 3rem 1.2rem 1.2rem;
    border: .1rem solid #ddd;
    border-radius: 0.7rem;
    background-color: #fff;
    font-size: 0.9rem;
}

.btnWrap {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.btnPwdWrap {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.submitBtn {
    background-color: #8E43E7;
    color: white;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 0.7rem;
    font-size: 16px;
    width: 100%;
    height: 50px;
    margin-left: 30px;
    cursor: pointer;
    font-weight: bold;
}

.submitPwdBtn {
    background-color: #8E43E7;
    color: white;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 0.7rem;
    font-size: 16px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
}

.searchContent input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd; 
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
}

.searchContent input[type="checkbox"]:checked {
    background-color: white !important;
}

.searchContent input[type="checkbox"]:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #8E43E7;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}