/* 푸터 스타일 */
#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 20px 10px;
}

/* 행 스타일 */
.footer-row {
    display: flex;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

/* 헤더 행 스타일 */
.footer-row.header {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/* 각 항목 스타일 */
.footer-row div {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    text-align: left;
    margin-left: 50px;
}

/* 정보 섹션 스타일 */
.footer-info {
    margin-left: 50px;
    padding: 15px;
    text-align: left;
    vertical-align: top;
}

/* 문단 스타일 */
.footer-info p {
    margin: 1px 0;
    font-size: 12px;
    color: #333;
}

.noticeLink {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.footer-info span {
    font-weight: bold;
    font-size: 14px;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
    .footer-row div {
        flex: 1;
        padding: 10px;
        font-size: 10px;
        text-align: left;
        margin-left: 5px;
    }

    .footer-row div:nth-child(4),
    .footer-row div:nth-child(5) {
        display: none;
    }

    .company-info {
        margin-top: 0.5rem;
        text-align: center;
        justify-content: center;
    }

    .company-info h2 {
        font-size: 12px !important;
    }

    .company-info p {
        font-size: 10px !important;
    }

    .customer-info,
    .payment-info {
        display: none;
    }
}
